.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

body{
    background-image: url(../img/bg-repeat.jpg);
    background-size: 40px 100%;
}

/* parte do texto*/
.textos{
    margin-bottom: 130px;
}
.textos h1{
    color: #fff;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 15px;
    
}

.textos{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}








/*parte do formulario*/


.form {
    background-color: #fff;
    height: 910px;
    width: 840px;
    margin-left: 150px;
    display: flex;
    align-items: start;
    justify-content:center;
    flex-direction: column;
    
    
    
}
 .form .inputs{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
 }

 .form .inputs .bordaCerta{
   border: 2px solid #00C22B;
}
.form .inputs .bordaErrada{
   border: 2px solid #F52E2E;
   
}

.form .inputs .smallError{
   visibility: visible;
   color: #F52E2E;
}




 .form .inputs input{
    height: 65px;
    width: 750px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 20px;
    font-size:30px;
    
 }
 ::placeholder{
    font-size:30px;
    font-weight: 700;
    color: #A8A8A8;
 }

 .form .inputs textarea{
    padding:20px;
    font-size:23px ;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 10px;
    height: 230px;
    
 }

 
 

 .form .inputs small{
    font-size: 15px;
    visibility: hidden;
 }
 

 .form p{
    	margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
        margin-left: 40px;
 }

 .form .botao button{
    height: 85px;
    width: 750px;
    margin-top: 60px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #3CCC87;
    color: #fff;
    cursor: pointer;
    border: 0px;
    margin-left: 40px;
    
 }

 


 .form .inputs .smallError{
    visibility: visible;
    color: #F52E2E;
 }
 
 